<div class="panel-background-well">
  <div class="row">
    <div class="span4">
        <% if can? :update, @office %>
            <%= link_to 'Update this listing', edit_office_path(@office), :class => "btn btn-large btn-primary" %>
            <div style="padding-top: 7px;">
              <% if can? :destroy, @office %>
                  <%= link_to 'Delete this listing', @office, :method => :delete, :data => { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
        <% else %>
            <div id="reserve">
              <% if @office.user %>
                <%= render 'abouthost' %>
              <% end %>
              <% if user_signed_in? %>
                <%= render 'reserves/form' %>
              <% end %>
            </div>

            <div id="sending">
              <h4 class="panel-header-gray">Sending...</h4>
                <%= image_tag("ajax-loader.gif", :alt => "loading") %>
              </div>


            <div id="thankyou">
              <h4 class="panel-header-gray">And it's sent!</h4>
                <div class="side-container">
                   <p><b><i>What happens next?</i></b> The host will contact you directly to talk details and answer any questions you may have.</p>
                   <p>Thanks for using Intuit Spaces!</p>
                   <div class="airplane"><%= image_tag "airplane.png"%></div>
                </div>
            </div>
        <% end %>
    </div>
  </div>
</div>