<div class="paperPanel3D text-center" id="show-office" style="margin-top:37px;">
  <div class="row">
    <div class="span4">
        <% if can? :update, @office %>
            <% if @office.active_flag == 0 %>
              <%= link_to 'Publish this listing', publish_office_path(@office), :class => "btn btn-large btn-success" %>
               <div style="padding-top: 7px;"><%= link_to 'Edit this listing', edit_office_path(@office) %></div>
            <% else %>
              <%= link_to 'Update this listing', edit_office_path(@office), :class => "btn btn-large btn-warning" %>
              <div style="padding-top: 7px;">
                <% if can? :destroy, @office %>
                    <i class="icon-ban-circle"></i> <%= link_to 'Stop showing', disable_office_path(@office), :data => { confirm: 'Stop showing office in search results? You can always reactivate by going to My Listings.' } %>
                <% end %>
              </div>
            <% end %>
        <% else %>            
            <% if @office.user %>
              <% if user_signed_in? %>
                <div id="reserve">
                  <%= render 'abouthost' %>
                  <%= render 'reserves/form' %>
                </div>
              <% else %>
                <%= render 'aboutlocked' %>
              <% end %>  
            <% end %>

            <div id="sending" style="display: none">
              <h4 class="panel-header-gray">Sending...</h4>
                <%= image_tag("ajax-loader.gif", :alt => "loading") %>
              </div>


            <div id="thankyou" style="display: none">
              <h4 class="panel-header-gray">And it's sent!</h4>
                <div class="side-container">
                   <p><b><i>What happens next?</i></b> The host will contact you directly to talk details and answer any questions you may have.</p>
                   <p>Thanks for using Intuit Spaces!</p>
                   <div class="airplane"><%= image_tag "airplane.png"%></div>
                </div>
            </div>
        <% end %>
    </div>
  </div>
</div>

