<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=geometry,places&key=AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE"></script>

      <div class="listing-header">What's the address?</div> 
        <div class="row panel panel-border">       
          <fieldset class="padtop_big padbottom_big side-margins">
            <%= simple_form_for(@office, :html => { :id => "address_form" } ) do |f| %>
            <div class="control-group">
              <%= text_field_tag "address", "", :style => "height:40px; font-size:20px; padding-left: 15px; width:716px;", :placeholder => "e.g. 2000 Coast Ave, Mountain View, CA 94043", id: "address_field"%>
            </div>
            <div class="hide" id="error-msg">Please enter a valid address, with street name, city, and state.</div>
            
            <div class="hide">
              <%= f.text_field :loc_addr1, id: "street" %>
              <%= f.text_field :loc_city, id: "city" %>
              <%= f.text_field :loc_state, id: "state" %>
              <%= f.text_field :loc_zip, id: "zip" %>
              <%= f.text_field :active_flag, :value => 0 %>
            </div>
            
            <%= submit_tag "Continue", :class => "btn btn-large btn-primary pull-right", :id => "continueBtn", :style => "width: 150px", onclick:"return validate();" %>

            <% end %>
          </fieldset>
        </div>

<!-- other JS code -->
<script type="text/javascript">
    var correctInput;
    function validate() {   
        mixpanel.track("Clicked Continue"); 
        var currentInput = document.getElementById('address_field').value;
        console.log(correctInput);
        console.log(currentInput);
        if (city.value == '' || street.value == '' || correctInput!=currentInput) {
            $("#address_field").addClass('error-border');
            $("#error-msg").show();
            return false;
        }
        $("#error-msg").hide();
        $("#address_field").removeClass('error-border');
        return true;
    }
    
    $(document).ready (function() {
        addressAutocompleteOffice();
    });



</script>
