<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=geometry,places&key=AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE">
</script>

    <div id="first">
      <div class="listing-header">What's the address?</div> 
        <div class="row panel panel-border">       
          <fieldset class="padtop_big padbottom_big side-margins">
            <%= form_tag("", :method => "get", :id => "address_form" ) do %>
            <div class="control-group">                              
              <%= text_field_tag 'address', '', :style => "height:40px; font-size:20px; padding-left: 15px; width:716px;", :placeholder => "2000 Coast Ave, Mountain View, CA 94043", id: "address_field"%>
            </div>
            
            <div class="">
                <%= text_field_tag :loc_addr1 %>
                <%= text_field_tag :loc_city %>
                <%= text_field_tag :loc_state %>
                <%=text_field_tag :loc_zip %>
            </div>
            
            <%= submit_tag "Continue", :class => "btn btn-large btn-primary pull-right", :id => "continueBtn",  :style => "width: 150px" %>

            <% end %>
          </fieldset>
        </div>
      </div>

<!-- other JS code -->
<script type="text/javascript">
    
    $(document).ready (function() {
        var input = document.getElementById('address_field');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.setTypes(['geocode']);
        autocomplete.setComponentRestrictions({'country':'us'});
        iePlaceholderFix();

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
            var place = autocomplete.getPlace();
            var address = '';
            if (place.address_components) {
                var loc_addr1 = document.getElementById('loc_addr1');
                var loc_city = document.getElementById('loc_city');
                var loc_state = document.getElementById('loc_state');
                var loc_zip = document.getElementById('loc_zip');

                // reset fields
                loc_addr1.value = '';
                loc_city.value = '';
                loc_state.value = '';
                loc_zip.value = '';


                //loc_addr1.value = place.address_components[0] && place.address_components[0].short_name || '';
                //loc_city.value = place.address_components[1] && place.address_components[1].short_name || '';
                //loc_state.value = place.address_components[2] && place.address_components[2].short_name || '';
                var street_number;
                var street_name;

                for (var i=0; i<place.address_components.length;i++)
                {
                    for (var j=0;j<place.address_components[i].types.length;j++)
                    {
                        //console.log('type:' + place.address_components[i].types[j] + ' => short_name:' + place.address_components[i].short_name + ' , long_name:' + place.address_components[i].long_name);
                        if (place.address_components[i].types[j] == "postal_code")
                        {
                            loc_zip.value = place.address_components[i].long_name;
                        }
                        else if (place.address_components[i].types[j] == "street_number")
                        {
                            street_number = place.address_components[i].long_name;
                        }
                        else if (place.address_components[i].types[j] == "route")
                        {
                            street_name = place.address_components[i].long_name;
                        }
                        else if (place.address_components[i].types[j] == "locality")
                        {
                            loc_city.value = place.address_components[i].long_name;
                        }
                        else if (place.address_components[i].types[j] == "administrative_area_level_1")
                        {
                            loc_state.value = place.address_components[i].short_name;
                        }
                    }
                }
                if (street_number && street_name) {
                    loc_addr1.value = street_number + ' ' + street_name;
                } else if (street_name) {
                    loc_addr1.value = street_name;
                } else {
                    loc_addr1.value = '';
                }
            }

            if (loc_city.value == '' || loc_addr1.value == '' ) {
                $("#address_field").css('border', 'solid red 2px');
                $("#address_field").after("Please enter a valid address.");
            }

            console.log(input.value);
            console.log(loc_addr1.value);
            console.log(loc_city.value);
            console.log(loc_state.value);
            console.log(loc_zip.value);
        });
        // // get latitude and longitude
        //   geocoder.geocode( { 'address': place}, function(results, status) {
        //     if (status == google.maps.GeocoderStatus.OK) {
        //       map.setCenter(results[0].geometry.location);
        //       var marker = new google.maps.Marker({
        //           map: map,
        //           position: results[0].geometry.location
        //       });
        //     } else {
        //       alert('Geocode was not successful for the following reason: ' + status);
        //     }
        //   });


    });



</script>
