<div class="container row">

  <div id="offices" class="span12 panel panel-border">

    <% if @offices.count == 0 %>
        <div class="row search_result text-center">
          <h5>You currently do not have any listings.</h5>
          <p>Why not create one?
          <%= link_to "List your space", new_office_path, :id => "addlisting" %></p>
        </div>
    <% end %>

    <% @offices.each do |office| %>

      <div class="row search_result">

        <div class="span2">
          <a href= "<%= office_path(office) %>" >
            <% if (office.office_images.first != nil) %>
                <%= cl_image_tag office.office_images.first.path, :size => '100x75', :crop => :fit, :class => "img-polaroid" %>
            <% else %>
                <%= image_tag "small_default-studio.png", :class => "img-polaroid" %>
            <% end %>

          </a>
        </div>

        <div class="span7">
            <%= link_to office.address, office %> |
            <% if office.active_flag == 0 %>
              Draft
            <% elsif office.active_flag == 1 %>
              Disabled
            <% else %>
              Active
            <% end %>
        </div>


        <div class="span3">
          <!--%= link_to 'View', office %-->

          <% if can? :update, office %>
            <%= link_to 'Update', edit_office_path(office), :class => 'btn btn-mini btn-primary' %> |
          <% end %>
          
          <% if can? :destroy, office %>
            <%= link_to 'Delete', office, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
            
        </div>
      
      </div>
    
    <% end %>

    <div class="span12">
      <div class="apple_pagination">
        <!--div class="page_info">
          <#%= page_entries_info @offices %>
        </div-->
        <%= will_paginate @offices, :container => false %>
      </div>
    </div>

</div>

</div>

