<div class="row">

  <div id="offices" class="span12">

    <% @offices.each do |office| %>

      <div class="row search_result">

        <div class="span2">
          <a href= "<%= office_path(office)  %>" >
            <% if (office.office_images.first != nil) %>
                <%= cl_image_tag office.office_images.first.path, :size => '100x75', :crop => :fit, :class => "img-polaroid" %>
            <% else %>
                <%= image_tag "small_default-studio.png", :class => "img-polaroid" %>
            <% end %>

          </a>
        </div>

        <div class="span4">
            <%= link_to office.title, office %>
        </div>

        <div class="span2" id="city">
          <%= office.loc_city %>
        </div>

        <div class="span1" id="state">
          <%= office.loc_state %>
        </div>

        <div class="span1" id="zipcode">
          <%= office.loc_zip %>
        </div>

        <div class="span2">
          <!--%= link_to 'View', office %-->

          <% if can? :update, office %>
            <%= link_to 'Update |', edit_office_path(office) %>
          <% end %>
          
          <% if can? :destroy, office %>
            <%= link_to 'Delete', office, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
            
        </div>
      
      </div>
    
    <% end %>
    
  <br>
</div>

</div>

