<div class="container">

  <h2 id="notice"><%= notice %></h2>

  <p>
    <b>Title : </b>
    <%= @office.title %>
  </p>

  <p>
    <b>Description : </b>
    <%= @office.description.gsub("\n", "<br>").html_safe %>
  </p>

  <p>
    <b>Size : </b>
    <%= @office.size %> sq.ft.
  </p>

  <p>
    <b>City : </b>
    <%= @office.loc_city %>
  </p>

  <p>
    <b>State : </b>
    <%= @office.loc_state %>
  </p>

  <p>
    <b>Zip Code : </b>
    <%= @office.loc_city %>
  </p>

  <p>
    <b>Accommodates : </b>
    <%= @office.accomodate %>
  </p>

  <p>
    <b>Rent : </b>
    <%= @office.rent %>
  </p>

  <p>
    <b>Photo : </b>
    <%= image_tag @office.image1_url.to_s, alt: "Photo" %>
  </p>


  <!--p>
    <b>Swap OK : </b>
    <!--% if @office.swap %>Yes
    <!--% else %>No
    <!--% end %>

  </p-->


  <p>
    <b>User:</b>
    <% if @office.user %>
        <%= @office.user.email %>
    <% end %>
  </p>

  <br>

  <h4>If you are interested in renting this space, please email us at
    <a href="mailto:tradewinz@intuit.com?subject=Interested in renting?" class="btn-link">tradewinz@intuit.com</a> with
    details about your needs.
  </h4>

  <br>
  <%= link_to "Show all listings", offices_path, class: "btn btn-medium" %>
  <br><br>

</div>