<% if (session[:search_results] and (request.referer.present? and (request.referer.include? "offices/" or request.referer.include? "listings"))) %>
    <div class="listing-nav">
      <%= link_to "&larr; Back to search results".html_safe, session[:search_results] %>
      <span style="float:right;"><% if @prev_office %><%= link_to "&laquo; Previous listing".html_safe, office_path(@prev_office) %><% end %> <% if @prev_office and @next_office%>|<% end %> <% if @next_office %><%= link_to "Next listing &raquo;".html_safe, office_path(@next_office) %><% end %></span>
    </div>
<% end %>

<% if (session[:featured] and (request.referer.present? and (request.referer.include? "offices/" or Rails.application.routes.recognize_path(request.referrer)==Rails.application.routes.recognize_path(home_path)))) %>
    <div class="listing-nav">
      <%= link_to "&larr; Back to home".html_safe, home_path %>
      <span style="float:right;"><% if @prev_office %><%= link_to "&laquo; Previous listing".html_safe, office_path(@prev_office) %><% end %> <% if @prev_office and @next_office%>|<% end %> <% if @next_office %><%= link_to "Next listing &raquo;".html_safe, office_path(@next_office) %><% end %></span>
    </div>
<% end %>


<div class="row panel panel-border">

  <!-- frame -->
  <div class="row" id="office_heading">

    <div class="span5">

      <p class="officetitle">
        <% if user_signed_in? %>
            <%= @office.loc_addr1 %>
        <% else %>
           <%= link_to new_user_session_path do %><i class="icon-lock"></i> show exact address <% end %>
        <% end %>
        <br/> <%= @office.loc_city %> <%= @office.loc_state %> <%= @office.loc_zip %>
      </p>

    </div>

    <div class="span7">
      <%= render 'briefinfo' %>
    </div>

  </div>

  <div class="row" id="title">

    <div class="span8">

      <div class="row room-detail">

        <div class="span8">
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#photos" data-toggle="tab">Photos</a></li>
            <li><a href="#googlemap" data-toggle="tab">Map</a></li>
            <li><a href="#streetview" data-toggle="tab" id="streetview-tab">Street view</a></li>
          </ul>

          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="photos">
              <% if (@office.office_images.first != nil) %>
                  <div id="galleria">
                    <% @office.office_images.each do |photo| %>
                        <%= cl_image_tag(photo.path, :width => 600, :height=>400, :crop=> :fill, :angle => :exif) %>
                    <% end %>
                  </div>
              <% else %>
                  <div id="galleria">
                    <%= image_tag "http://maps.googleapis.com/maps/api/streetview?size=600x400&location=#{@office.latitude},%20#{@office.longitude}&sensor=false&key=AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE", :crop => :fill, :class => "img-polaroid" %>
                  </div>

              <% end %>
            </div>

            <div class="tab-pane fade" id="googlemap">
              <div id="map-canvas"></div>
            </div>

            <div class="tab-pane fade" id="streetview">
              <div id="pano"></div>
            </div>

          </div>

        </div>
        <div class="span8" style="margin-top: 10px;">
          <% if @office.description? %>
              <!-- h4>Description</h4 -->
              <p class="officedetailstext"><%= @office.description.html_safe %> </p>
          <% end %>
        </div>
      </div>

    </div>

    <div class="span4 room-action-area">
      <%= render 'contacthost' %>
    </div>
  </div>
   <div style="margin-top: 30px;">
        <div>
          <h4>Amenities</h4>
          <%= render 'amenities'%>
        </div>
        <div >
          <h4>What's nearby</h4>
          <%= render 'nearbyplaces'%>
        </div>
      </div>
</div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=geometry,places&key=AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE"></script>
<!-- image gallery  -->
<script type="text/javascript">
    function galleria(){
        Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
        Galleria.run('#galleria');
    }

    galleria();

    var latlng;
    $(document).ready(function(){
        iePlaceholderFix();
        latlng = new google.maps.LatLng("<%=@office.latitude%>", "<%=@office.longitude%>");
        var sv = new google.maps.StreetViewService();
        sv.getPanoramaByLocation(latlng, 50, processSVData);
    });


    function processSVData(data, status) {
        if (status != google.maps.StreetViewStatus.OK) {
            $('#streetview-tab').remove();
        } else {
            console.log("ok!");
        }
    }

    function initialize() {
        var pano;
        var map;


        var mapOptions = {
            center: latlng,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            streetViewControl: false
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

        <% if user_signed_in? %>
        var marker = new google.maps.Marker({
            position: latlng,
            map: map
        });
        <% else %>
        // begin radius

        var regionMarker = {
            center: latlng
        };

        var regionOptions = {
            strokeColor: "#FF0000",
            strokeOpacity: 0.4,
            strokeWeight: 2,
            fillColor: "#FF0000",
            fillOpacity: 0.15,
            map: map,
            center: regionMarker.center,
            radius: 100
        };

        var circleMarker = new google.maps.Circle(regionOptions);

        // end of radius
        <% end %>


        var panoramaOptions = {
            position: latlng,
            <% if !user_signed_in? %>
            addressControl: false,
            <% end %>
            pov: {
                heading: 34,
                pitch: 10
            },
            linksControl: false,
            panControl: false,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.SMALL
            },
            enableCloseButton: false
        };

        var move;

        $('#myTab a[href="#photos"]').on('shown', function(e) {
            move = false;
        });


        $('#myTab a[href="#googlemap"]').on('shown', function(e) {
            move = false;
            map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions);

            var marker = new google.maps.Marker({
                position: latlng,
                map: map
            });
        });


        $('#myTab a[href="#streetview"]').on('shown', function(e) {
            pano = new google.maps.StreetViewPanorama(document.getElementById('pano'),panoramaOptions);
            var move = true;
            $("#pano").click(function () {
                move = !move;
            });


            window.setInterval(function() {
                if (move) {
                    var pov = pano.getPov();
                    pano.setPov(pov);
                    pov.heading += 0.2;
                }
            }, 10);
        });

    }

    google.maps.event.addDomListener(window, 'load', initialize);

    mixpanel.track_links('#reserve a', 'Clicked Contact Us');

</script>