<style xmlns="http://www.w3.org/1999/html">
    .webgallery
    { height: 600px; background: white; }

   .listing-detail  .title {
        display:block;
    }
    .location-map .gmaps4rails_map {
        height: 400px;
    }
</style>


<div class="container listing-detail">

  <div class="row">
    <div class="span5 offset4">
      <h3> View your listing </h3>
      <!--button class="btn btn-primary" id="postListingBtn" onclick=""> Post Listing </button-->
    </div>
  </div>

  <div class ="row panel panel-border">
    <div class="span12">
        <!-- frame -->
          <div class="row" id="title">

          <div class="span8">
              <h2 class="officetitle">
                <%= @office.title %>
              </h2>
              <p class="officelocation">
                <%= @office.loc_addr1 %>  <%= @office.loc_city %> <%= @office.loc_state %> <%= @office.loc_zip %>
              </p>
          </div> <!-- end left column -->

          <div class="span4">
              <p class="officecost">
                $<%= @office.rent %>/
                <% if @office.rent_type = 1 %>month
                <% else %>
                    <% if @office.rent_type = 2 %>week
                    <% else %>
                        <% if @office.rent_type = 3 %>day
                        <% else %>month
                        <% end %>
                    <% end %>
                <% end %>
              </p>

              <p class="highlights">
                <i class="icon-home"></i>
                <% if @office.office_type = 1 %> Office space
                <% else %>
                    <% if @office.office_type = 2 %> Meeting room
                    <% else %>
                        <% if @office.office_type = 3 %> Desk
                        <% else %>Office space
                        <% end %>
                    <% end %>
                <% end %>
                <i class="icon-home"></i>
                <% if @office.accomodate? %>
                    <%= @office.accomodate %> people
                <%end %>
                <i class="icon-home"></i>
                  <%= @office.size %> sq. ft
              </p>

          </div>   <!--end let column -->

          </div> <!-- end top row -->


          <div class="row">

            <div class="span8">
              <div class="row room-detail">
                <div class="span8">
                  <div class="webgallery">
                    <img src=<%=@office.image1_url.to_s%> />
                    <img src=<%=@office.image2_url.to_s%> />
                    <img src=<%=@office.image3_url.to_s%> />
                    <img src=<%=@office.image4_url.to_s%> />
                  </div>
                </div>
                <div class="span8">
                  <div class="description"></div>
                    <h4>Description</h4>
                    <p><%= @office.description %> </p>
                </div>
                <div class="span8">
                  <div class="row"></div>
                  <h4>Amenities</h4>
                  <div class="span2">
                    <p>Wifi: <% if @office.wifi? %> Yes <% else %> No     <% end %><p>
                    <p>Parking: <% if @office.parking? %> Yes <% else %> No <% end %></p>


                  </div>
                  <div class="span2">
                    <p>Air-Conditioning: <% if @office.ac? %>Yes  <% else %> No        <% end %>  </p>
                    <p>Conference Room: <% if @office.confroom? %> Yes <% else %> No  <% end %>  </p>
                  </div>
                  <div class="span2">
                    <p>Printer: <% if @office.printer? %>Yes <% else %> No <% end %>   </p>
                    <p>Kitchen: <% if @office.kitchen? %>Yes <% else %> No <% end %>    </p>
                </div>

                  <div class="span2">
                    <p>Window Office: <% if @office.window? %> Yes <% else %> No <% end %></p>
                  </div>

              </div>
            </div>
           </div>

            <div class="span4">
              <div class="row">
                <div class="span4">
                  <div class="button-area"> <%= button_to "Reserve this space", {:action => "reserve"}, {:class => "l_button btn btn-large btn-warning"} %></div>
                </div>

                <% if can? :update, @office %>
                <div class="span4">
                  <div class="button-area"></div>
                      <%= link_to 'Update this listing', edit_office_path(@office), :class => "btn btn-large btn-primary" %>
                </div>
                <% end %>

                <div class="span4">
                  <div class="host-summary">
                    About the host
                    <p>
                      <b>Name:</b>
                      <%= @office.user.name %>
                    </p>
                    <p>
                      <b>Industry:</b>
                      <%= @office.user.industry %>
                    </p>
                    <p>
                      <b>Location:</b>
                      <%= @office.user.location %>
                    </p>

                    <p>
                      <b>LinkedIn Profile:</b>
                      <%= link_to "LinkedIn Public Profile", @office.user.website %>
                    </p>

                    <!--hide personal data p>
                      <b>Email:</b>
                      <#%= @office.user.email %>
                    </p>

                    <p>
                      <b>Phone:</b>
                      <#%= @office.user.phone %>
                    </p-->

                  </div>
                </div>
                <div class="span4">
                  <div class="location-map">
                    <%= gmaps("markers" => {"data" => @json},
                              "map_options" =>  { "provider" => "google",
                                                  "provider_key" => "AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE",
                                                  "auto_zoom" => false,
                                                  "zoom" => 12
                                                }
                              )
                    %>
                  </div>
                </div>

                </div>
              </div>
            </div>
          </div>
    </div>
   </div>

</div>

<script>

    function galleria(){
        Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
	$('.webgallery img').each(function(index) { 
		if ($(this).attr("src")=="/assets/default-studio.png"){
			$(this).remove();}
	});

        if (Galleria) {
            Galleria.run('.webgallery');
        }
    }
    galleria();
</script>

