 <% if (session[:search_results] and (request.referer.present? and (request.referer.include? "offices/" or request.referer.include? "listings"))) %> 
  <div class="listing-nav">
    <%= link_to "&larr; Back to search results".html_safe, session[:search_results] %>
    <span style="float:right;"><% if @prev_office %><%= link_to "&laquo; Previous listing".html_safe, office_path(@prev_office) %><% end %> <% if @prev_office and @next_office%>|<% end %> <% if @next_office %><%= link_to "Next listing &raquo;".html_safe, office_path(@next_office) %><% end %></span>
  </div>
<% end %>  

 <% if (session[:featured] and (request.referer.present? and (request.referer.include? "offices/" or Rails.application.routes.recognize_path(request.referrer)==Rails.application.routes.recognize_path(home_path)))) %> 
  <div class="listing-nav">
    <%= link_to "&larr; Back to home".html_safe, home_path %>
    <span style="float:right;"><% if @prev_office %><%= link_to "&laquo; Previous listing".html_safe, office_path(@prev_office) %><% end %> <% if @prev_office and @next_office%>|<% end %> <% if @next_office %><%= link_to "Next listing &raquo;".html_safe, office_path(@next_office) %><% end %></span>
  </div>
<% end %>  


<div class="row panel panel-border">

  <!-- frame -->
  <div class="row" id="title">

    <div class="span8">

      <p class="officetitle">
        <%= @office.title %>
      </p>

      <p class="officelocation">
        <%= @office.loc_addr1 %>  <%= @office.loc_city %> <%= @office.loc_state %> <%= @office.loc_zip %>
      </p>
    
      <div class="row room-detail">
        
        <div class="span8">
          <ul id="myTab" class="nav nav-tabs">            
            <li class="active"><a href="#photos" data-toggle="tab">Photos</a></li>
            <li><a href="#googlemap" data-toggle="tab">Map</a></li>
            <li><a href="#streetview" data-toggle="tab" id="streetview-tab">Street view</a></li>
          </ul>

          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="photos">
             <% if (@office.office_images.first != nil) %>
              <div id="galleria">
                <% @office.office_images.each do |photo| %>
                    <%= cl_image_tag(photo.path, :width => 600, :height=>400, :crop=> :fill, :angle => :exif) %>
                <% end %>
              </div>
            <% else %>
              <div id="galleria">
                <%= image_tag "http://maps.googleapis.com/maps/api/streetview?size=600x400&location=#{@office.latitude},%20#{@office.longitude}&sensor=false&key=AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE", :crop => :fill, :class => "img-polaroid" %>
              </div>

           <% end %>
            </div>

            <div class="tab-pane fade" id="googlemap">
                <div id="map-canvas"></div>
            </div>

            <div class="tab-pane fade" id="streetview">
                <div id="pano"></div>
            </div>

          </div>
          
        </div>
        <div class="span8" style="margin-top: 10px;">
          <% if @office.description? %>
              <h4>Description</h4>
              <p class="officedetailstext"><%= @office.description.html_safe %> </p>
          <% end %>
        </div>
        <div class="span8">
          <h4>Amenities</h4>
            <%= render 'amenities'%>
        </div>
      </div>
    </div>

    <div class="span4 room-action-area">
      <%= render 'briefinfo' %>
      <%= render 'contacthost' %>
      <%if @office.loc_addr1? %><%= render 'walkscore' %><%end%>
    </div>
  </div>
</div>


<!-- image gallery  -->
<script type="text/javascript">
  $(document).ready(function(){
    iePlaceholderFix();
    //google.maps.StreetViewService.getPanoramaByLocation( latlng, 50, processSVData());
  });



  // function processSVData(data, status) {
  //   if (status != google.maps.StreetViewStatus.OK) {
  //     $("#streetview-tab").hide();
  //   }
  // }

  function galleria(){
      Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
      Galleria.run('#galleria');
  }

  galleria();

  function initialize() {
     var latlng = new google.maps.LatLng("<%=@office.latitude%>", "<%=@office.longitude%>");
      var mapOptions = {
        center: latlng,
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        streetViewControl: false
      };
      var map = new google.maps.Map(document.getElementById("map-canvas"),
          mapOptions);

      var marker = new google.maps.Marker({
          position: latlng,
          map: map
      });

      var panoramaOptions = {
        position: latlng,
        pov: {
          heading: 34,
          pitch: 10
        }
      };
      var pano = new google.maps.StreetViewPanorama(document.getElementById('pano'),panoramaOptions);

      window.setInterval(function() {
        var pov = pano.getPov();
        pov.heading += 0.2;
        pano.setPov(pov);
      }, 10);

      $('#myTab a[href="#googlemap"]').on('shown', function(e){
        google.maps.event.trigger(map, 'resize');
        map.setCenter(latlng);
      });

      $('#myTab a[href="#streetview"]').on('shown', function(e){
        google.maps.event.trigger(pano, 'resize');
      });

    }
    
    function loadScript() {
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize&key=AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE";
      document.body.appendChild(script);
    }

    window.onload = loadScript;

  mixpanel.track_links('#reserve a', 'Clicked Contact Us');

</script>