<div class="listing-detail">

<div class="row">
  <div class="span5"><h5>
  <% if request.referer.include? "SEARCH"%>
    <%= link_to "&#8592; Back to search results".html_safe, :back %>
  <% end %>
  </h5></div>
</div>

<div class="row panel panel-border">
<!-- frame -->
<div class="row" id="title">

  <div class="span8">
    <p class="officetitle">
      <%= @office.title %>
    </p>

    <p class="officelocation">
      <%= @office.loc_addr1 %>  <%= @office.loc_city %> <%= @office.loc_state %> <%= @office.loc_zip %>
    </p>
  </div>
  <!-- end left column -->

  <div class="span4">
    <p class="officecost text-right">
     <% if @office.rent? %>
          <strong><%= number_to_currency(@office.rent, :locale => 'en_us', :precision => 0) %></strong>
          <% if @office.rent_type == 1 %>/month
          <% else %>
              <% if @office.rent_type == 2 %>/week
              <% else %>
                  <% if @office.rent_type == 3 %>/day
                  <% else %>month
                  <% end %>
              <% end %>
          <% end %>
     <% else %>
       Contact us for rent
     <% end %>
    </p>

    <p class="officeamenities text-right">
      <% if @office.office_type == 1 %>
        <div class="officeicon office"></div>
        <span class="text-right">Office space</span>
    <% else %>
        <% if @office.office_type == 2 %>
            <div class="officeicon meeting"></div>
            <span class="text-right">Meeting room</span>
        <% else %>
            <% if @office.office_type == 3 %>
                <div class="officeicon desk"></div>
                <span class="text-right">Desk</span>
            <% else %>
                <div class="officeicon office"></div>
                <span class="text-right">Office space</span>
            <% end %>
        <% end %>
    <% end %>

    <% if @office.accomodate? %>
        <div class="officeicon accomodates"></div>
        <%= @office.accomodate %>
        <span class="text-right"><% if @office.accomodate == 1 %>person<% else %>people <% end %></span>
    <% end %>

    <% if @office.size? %>
        <div class="officeicon size"></div>
        <%= @office.size %>
        <span class="text-right">sq. ft</span>
    <% end %>
    </p>

  </div>
  <!--end let column -->

</div>
<!-- end top row -->

<div class="row">

  <div class="span8">
    <div class="row room-detail">
      <div class="span8">
        <div id="galleria">
          <% @office.office_images.each do |photo| %>
              <%= cl_image_tag(photo.path, :width => 600, :height=>400, :crop=> :fill, :angle => :exif) %>
          <% end %>
        </div>
      </div>
      <div class="span8" style="margin-top: 10px;">
        <% if @office.description? %>
            <h4>Description</h4>
            <p class="officedetailstext"><%= @office.description.html_safe %> </p>
        <% end %>
      </div>
      <div class="span8">
        <h4>Amenities</h4>

        <div class="row">
          <div class="span1.5">
            <p class="officedetailstext">
              <% if @office.wifi? %>
                <div class="officeicon wifi_on"></div>
            <% else %>
                <div class="officeicon wifi_off"></div>
            <% end %>Wi-fi</p>

            <p>
              <% if @office.parking? %>
                <div class="officeicon park_on"></div>
            <% else %>
                <div class="officeicon park_off"></div>
            <% end %>Parking</p>

          </div>

          <div class="span1.5">
            <p class="officedetailstext">
              <% if @office.ac? %>
                <div class="officeicon ac_on"></div>
            <% else %>
                <div class="officeicon ac_off"></div>
            <% end %>Air Conditioning</p>

            <p class="officedetailstext">
              <% if @office.confroom? %>
                <div class="officeicon conf_on"></div>
            <% else %>
                <div class="officeicon conf_off"></div>
            <% end %>Conference Room</p>
          </div>

          <div class="span1.5">
            <p class="officedetailstext">
              <% if @office.printer? %>
                <div class="officeicon conf_on"></div>
            <% else %>
                <div class="officeicon conf_off"></div>
            <% end %>Conference Room</p>

            <p class="officedetailstext">
              <% if @office.kitchen? %>
                <div class="officeicon kitchen_on"></div>
            <% else %>
                <div class="officeicon kitchen_off"></div>
            <% end %>Kitchen</p>
          </div>

          <div class="span1.5">
            <p class="officedetailstext">
              <% if @office.window? %>
                <div class="officeicon window_on"></div>
            <% else %>
                <div class="officeicon window_off"></div>
            <% end %>Window Office</p>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="span4 room-action-area">
    <div class="paperPanel3D text-center">
      <div class="row">
        <div class="span4">
          <div>
            <% if can? :update, @office %>
                <%= link_to 'Update this listing', edit_office_path(@office), :class => "btn btn-large btn-primary" %>
                <div style="padding-top: 7px;">
                    <% if can? :destroy, @office %>
                        <%= link_to 'Delete this listing', @office, :method => :delete, :data => { confirm: 'Are you sure?' } %>
                    <% end %>
                </div>
            <% else %>
                <div id="reserve">
                  <%= link_to "", {:controller => "offices", :action => "reserve", :id => @office}, :class => "reserve-btn"  %>
                </div>
            <% end %>
         </div>
        </div>
      </div>
    </div>


    <div class="paperPanel3D host-summary">
      <div class="row">
        <div class="span4">
          <h4 class="panel-header-gray">About the host</h4>
        </div>
        <div class="span3">
          <div class="small-pad">
            <% if @office.user.photo? %>
                <%= image_tag(@office.user.photo) %>
            <% else %>
                <%= image_tag("default_person.png") %>
            <% end %>
          </div>
        </div>

        <div class="span3">
          <div class="small-pad">
            <p>
            <div class="officeicon accomodates"></div>
            <b><%= @office.user.name %></b>
            </p>
          </div>
        </div>

        <div class="span3">
          <div class="small-pad">
            <p>
            <% if @office.user.industry? %>
                <div class="officeicon industry"></div>
                <b><%= @office.user.industry %></b>
            <% end %>
            </p>
          </div>
        </div>

        <div class="span3">
          <div class="small-pad">
            <p>
              <% if @office.user.location? %>
                <div class="officeicon experience"></div>
                <b><%= @office.user.location %></b>
              <% end %>
            </p>
          </div>
        </div>

        <div class="span3">
          <div class="small-pad">
            <p>
              <% if @office.user.website? %>
                <b><%= link_to "See my LinkedIn profile", @office.user.website, :target => "_blank" %></b>
              <% end %>
            </p>
          </div>
        </div>

        <!--div class="span3">
          <div class="small-pad">
            <p>
              <b>User Email:</b>
              <#%= @office.user.email %>
            </p>
          </div>
        </div-->


      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4">
      <div class="location-map">
        <%= gmaps("markers" => {"data" => @json},
                  "map_options" =>  { "provider" => "google",
                                      # "client" => "gme-intuitinc",
                                      # "channel" => "fms.spaces",
                                      "provider_key" => "AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE",
                                      "auto_zoom" => false,
                                      "zoom" => 12
                  }
            )
        %>
      </div>
    </div>


  </div>
</div>
</div>
</div>

</div>

<!-- image gallery  -->
<script type="text/javascript">

    function galleria(){
        Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
        Galleria.run('#galleria');
    }

    galleria();

    mixpanel.track_links('#reserve a', 'Clicked Contact Us');

</script>