<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contact <%= @office.user.name%> about this space</h3>
  </div>

<%= simple_form_for(@reserf) do |f|%>

  <div class="modal-body">
    <%= f.error_notification %>

    <% if @reserf.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reserf.errors.count, "error") %> prohibited this listing from being saved:</h2>
          <ul style="margin-left:10;">
            <% @reserf.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-inputs">
    <%= f.hidden_field :office_id, value: @office.id %>
    <div class="control-group">
      <label class="control-label">Name *</label>
      <div class="controls"><%= f.text_field :name %></div>
    </div>

    <div class="control-group">
      <label class="control-label">Email *</label>
      <div class="controls"><%= f.text_field :email %></div>
    </div>

    <div class="control-group" style="margin-bottom: 35px">
      <label class="control-label">How long would you like to rent this space?</label>
      <div class="controls" style="padding-top: 10px"><%= f.select(:length, options_for_select(['Less than 1 month','1 to 5 months','6 to 12 months', 'More than 1 year']), {:prompt => "Choose rental duration"}) %></div>
     </div>

  <div class="control-group">
      <label class="control-label">Phone number</label>
      <div class="controls"><%= f.text_field :phone %></div>
    </div>

<div class="control-group">
      <label class="control-label">Questions or comments for the host</label>
      <div class="controls"><%= f.text_area :misc, :placeholder => "For example: best time to call you or additional information about yourself or your business.", :style => "width: 240px", :rows => 20  %>
      </div>
    </div>
    </div>
  </div>
  
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">CLOSE</button>
    <%= f.button :submit, "SEND MESSAGE", :class=>"btn btn-primary", :id => "reserveBtn"%>
  </div>

  <% end %>
</div>

<!-- other JS code -->
<script type="text/javascript">
$("#reserveBtn").click(function() {
  $("#new_reserve").validate({
    rules: {
      "reserve[name]": {
        required: true
      },
      "reserve[email]": {
        required: true, 
        email: true
      }
    },
    messages: {
      "alert[email]": {
        required: "Please provide your email address, so the host can contact you!",
        email: "Please enter a valid email address."
      }
    },
    errorPlacement: function(error, element) {
      element.after(error);
      element.css('border', 'solid red 2px');
    }
  });

  if ($("#new_alert").valid()) {
    _gaq.push(['_trackEvent', 'SaveListing', 'User requests to contact host.']);
  }
});

</script>