<%= simple_form_for(@reserf) do |f|%>

  <div class="form-inputs">
  <%= f.hidden_field :office_id, value: @office.id %>
  <%= f.text_field :name, :placeholder => "Name", :style => "width: 250px" %>
  <%= f.text_field :email, :placeholder => "Email", :style => "width: 250px" %>
  <%= f.select(:length, options_for_select(['Less than 1 month','1 to 5 months','6 to 12 months', 'More than 1 year']), {:prompt => "Rental duration"}, {:style => "width: 260px"})%>
  <%= f.text_field :phone, :placeholder => "Phone number", :style => "width: 250px" %>
  <%= f.text_area :misc, :placeholder => "Questions or comments?                                  (Best time to call, more about you or your business)", :style => "width: 250px", :rows => 20  %>
  <%= f.button :submit, "SEND MESSAGE", :class=>"btn btn-primary", :id => "reserveBtn", :style => "width: 250px"%>
  </div>

  <% end %>
<!-- other JS code -->
<script type="text/javascript">
$("#reserveBtn").click(function() {
  $("#new_reserve").validate({
    rules: {
      "reserve[name]": {
        required: true
      },
      "reserve[email]": {
        required: true, 
        email: true
      }
    },
    messages: {
      "alert[email]": {
        required: "Please provide your email address, so the host can contact you!",
        email: "Please enter a valid email address."
      }
    },
    errorPlacement: function(error, element) {
      element.after(error);
      element.css('border', 'solid red 2px');
    }
  });

  if ($("#new_reserve").valid()) {
     $("#reserve").hide();
     $("#thankyou").show();
    _gaq.push(['_trackEvent', 'SaveListing', 'User requests to contact host.']);
  }
});

</script>