<div class="side-container">
  <div>
    <p><i class="icon-comment"></i> <span style="font-size: 14px">Interested or have questions?</span></p>
  </div>
<%= form_for([@office, @office.reserve.build], remote:true) do |f|%>

  <div class="form-inputs">
    <% if false %> <!-- hide all fields except description -->
        <% if current_user != nil %>
          <%= f.text_field :name, :value => current_user.name, :placeholder => "Name", :style => "width: 252px" %>
          <%= f.text_field :email, :value => current_user.email, :placeholder => "Email", :style => "width: 252px" %>
          <%= f.text_field :phone, :value => current_user.phone, :placeholder => "Phone number", :style => "width: 252px" %>
        <% else %>
          <%= f.text_field :name, :placeholder => "Name", :style => "width: 252px" %>
          <%= f.text_field :email, :placeholder => "Email", :style => "width: 252px" %>
          <%= f.text_field :phone, :placeholder => "Phone number", :style => "width: 252px" %>
        <% end %>
        <%= f.select(:length, options_for_select(['Less than 1 month','1 to 5 months','6 to 12 months', 'More than 1 year']), {:prompt => "Rental duration"}, {:style => "width: 270px"})%>
    <% end %>
      <%= f.text_field :phone, :value => current_user.phone, :placeholder => "Type your phone number", :style => "width: 252px" %>
      <%= f.text_area :misc, :placeholder => "Questions or comments?                       (Best time to call, more about you or your business)", :style => "width: 252px", :rows => 20  %>

    </div>
  <%= f.submit "SEND MESSAGE", :class=>"btn btn-primary", :id => "reserveBtn", :style => "width: 270px", :remote => true %>
  <% end %>


</div>


<!-- other JS code -->
<script type="text/javascript">
$("#reserveBtn").click(function() {
  $("#new_reserve").validate({
    rules: {
      "reserve[name]": {
        required: true
      },
      "reserve[email]": {
        required: true, 
        email: true
      }
    },
    messages: {
      "alert[email]": {
        required: "Please provide your email address, so the host can contact you!",
        email: "Please enter a valid email address."
      }
    },
    errorPlacement: function(error, element) {
      element.after(error);
      element.css('border', 'solid red 2px');
    }
  });

  if ($("#new_reserve").valid()) {
    $("#reserve").hide();
    $("#sending").show();
    _gaq.push(['_trackEvent', 'SaveListing', 'User requests to contact host.']);
  }
});

$("#new_reserve").on("ajax:success", function(e, data, status, xhr) {
  $("#sending").hide();
  $("#thankyou").show();
}).bind("ajax:error", function(e, xhr, status, error) {
  return $("#new_reserve").append("<p>ERROR</p>");
});

</script>