
<div class="container-narrow">

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span2"><strong>Headline:</strong></div>
  <div class="span10"><%= @listing.headline %></div>
</div>
<br>
<div class="row">
  <div class="span2"><strong>Description:</strong></div>
  <div class="span10"><%= @listing.description %></div>
</div>
<br>
<div class="row">
  <div class="span2"><strong>Location:</strong></div>
  <div class="span10"><%= @listing.location %></div>
</div>
<br>
<div class="row">
  <div class="span2"><strong>Image:</strong></div>
  <div class="span10"><%= image_tag @listing.image_url.to_s, alt: "Picture" %></div>
</div>
<br>
<br>
<div class="row">
  <div class="span2"><strong>User:</strong></div>
  <div class="span10"><%= @listing.user.name %></div>
</div>

<br>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

<hr> 

<%= link_to "View All", listings_path, class: "btn btn-medium" %>

<div>
