<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=geometry,places&key=AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE">
</script>

<!--script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=geometry,places&client=gme-intuitinc&channel=fms.spaces">
</script-->

<%= render 'landing_pages/search' %>

<div class="features paperpanel">
  <div class="container-fluid">
    <div class = "row-fluid">

      <%= render 'landing_pages/carousel' %>

      <hr>

      <%= render 'landing_pages/video' %>       
  
      <%= render 'landing_pages/alerts' %>

     </div>


  </div>   <!-- white features panel -->

  <%= render 'landing_pages/footer' %>

</div>

<script type="text/javascript">

$(document).ready (function() {
    searchAutocomplete();
    alertAutocomplete();
});



$("#searchBtn").click(function() {
    var val = $("#city").val();
    _gaq.push(['_trackEvent', "Search".concat(val), 'User clicks on Search']);
    mixpanel.track("Clicked Search", {location: val});
});

$("#search").keyup(function(event){
    if(event.keyCode == 13){
        $("#searchBtn").click();
    }
});

</script>
