<div class="hero-bg paperpanel">

    <div class="row">
      <div class="span12">
        
        <!-- search box-->
        <div class="row">
          <div class="span10 offset1">
            <div class="l_search">
              <div class="row spacetop">
                <div class="span4">
                  <span class="leftgap label l_text">Find a space to work</span>
                </div>
              </div>

              <div class="row spacebottom">
                <div class="span7">
                  <div class="leftgap">
                    <input type="text" class="l_input" style="margin-bottom: 5px; height:30px" placeholder="Enter a city">
                  </div>
                </div>

                <div class="span2" id="search">
                  <%= link_to "SEARCH", listings_path, :class => "l_button btn btn-large btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end search box-->

      </div>
    </div>
  </div>
 
  <div class="features paperpanel">
    <div class="row">
      <div class="span12 padtop padbottom features">
        <div class="row">
          <div class="span4">
              <%= image_tag "tw/icon_home_floorplan.png", :alt=> "icon home" %>
              <h3>Make your office pay for itself</h3>
               <p>   Earn extra money by renting out your extra office space. No listing or membership fees.<br />
                <%= link_to "List your extra space now >>", new_office_path %>
                </p>
          </div>

          <div class="span4">

              <%= image_tag("tw/icon_home_pie.png", alt: "icon pie") %>
              <h3>Listing your space is as easy as pie </h3>
              <p>From the makers of QuickBooks and TurboTax - not only do we make accounting and tax preparation
                easier for you, we'll make it easy for you to earn extra money with your extra space.
                <%= link_to "Get started >>", new_office_path %>
              </p>

            </div>

          <div class="span4">

              <%= image_tag("tw/icon_home_handshake.png", alt: "icon handshake") %>
              <h3>Reliable & trustworthy connections</h3>
              No SPAM and No SCAMS. Only interact with other reliable and trusted professionals and entrepreneurs
              like yourself. <br />
              <%= link_to "Get started >>", new_office_path %>

          </div>
        </div>
      </div>
    </div>

    <div class="container paperpanel">
      <div class="well well-small well-footer">
        <div class="row-fluid">
          <div class="span5">
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/exovvpc26etcptp/icon_phone_16x16.png"
                 class="pull-left img-rounded">
            <p>
              <b>&nbsp;Have Questions?</b> Call us at 1 (855) SPK-2-SPACES</p>
          </div>
          <div class="span4">
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/1ihs6zyiikeam9p/icon_email_16x16.png"
                 class="pull-left img-rounded">
            <b>&nbsp;Send us a note at</b>
            <a href="mailto:spaces@intuit.com">spaces@intuit.com</a>
          </div>
          <div class="span3">&nbsp;
            <b>Follow us:</b>
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/ibhvzf2ae9ci7ar/icon_blog_29x16.png"
                 class="pull-left img-rounded">
            <a href="http://spacesblog.tumblr.com/" target="_blank">Blog</a> |
            <a href="/about" target="_blank">About Us</a>
          </div>
        </div>
      </div>
    </div>


  </div>    <!-- Paper panel -->

<script type="text/javascript">
  var val = $("#search").val();
    mixpanel.track("Visited Homepage");
    mixpanel.track_links("#search a", "Clicked Search", {"text":val});

</script>
