<div class="row padtopsmall padbottomsmall" >

    <div class="span5">
      <input type="text" class="l_input" placeholder="Enter a city">
    </div>
    <div class="span2">
      <%= link_to "SEARCH", listings_path, :class => "l_button btn btn-primary" %>
      <!--%= button_to "SEARCH", :action => "listings", :class => "btn btn-primary", :method=>"GET" %-->
    </div>
    <div class="offset2 span3">
      <div class="btn-group" data-toggle="buttons-radio">
        <%= link_to "Map View", maps_path, class: "btn btn-medium" %>
        <%= link_to "List View", listings_path, class: "btn btn-medium" %>
      </div>
    </div>
  </div>

  <div class="row padtop" style="background-color: #ffffff;">
    <div class="span12">
      <% @offices.each do |office| %>

          <div class="row search_result">

            <div class="span3">
              <a href= "<%= office_path(office)  %>" >
                <% if (office.office_images.first != nil) %>
                    <%= cl_image_tag office.office_images.first.path, :size => '220x165', :crop => :fit, :class => "img-polaroid" %>
                <% else %>
                      <%= image_tag "medium_default-studio.png", :class => "img-polaroid" %>
                <% end %>

              </a>
            </div>

            <div class="span6">
              <div class="row">
                <div class="span6">
                  <h4><%= link_to office.title, office %></h4>
                  <p><%= office.loc_city %> <%= office.loc_state %> </p>
                  <br>
                </div>
              </div>

              <div class="row">
                <div class="span2">
                  <p><% if office.wifi? %>
                      <div class="officeicon wifi_on"></div>
                  <% else %>
                      <div class="officeicon wifi_off"></div>
                  <% end %>Wi-fi</p>

                  <p><% if office.parking? %>
                      <div class="officeicon park_on"></div>
                  <% else %>
                      <div class="officeicon park_off"></div>
                  <% end %>Parking</p>

                  <p><% if office.window? %>
                      <div class="officeicon window_on"></div>
                  <% else %>
                      <div class="officeicon window_off"></div>
                  <% end %>Window Office</p>

                </div>

                <div class="span2">
                  <p><% if office.ac? %>
                      <div class="officeicon ac_on"></div>
                  <% else %>
                      <div class="officeicon ac_off"></div>
                  <% end %>Air Conditioning</p>

                  <p><% if office.confroom? %>
                      <div class="officeicon conf_on"></div>
                  <% else %>
                      <div class="officeicon conf_off"></div>
                  <% end %>Conference Room</p>

                </div>

                <div class="span2">
                  <p><% if office.printer? %>
                      <div class="officeicon conf_on"></div>
                  <% else %>
                      <div class="officeicon conf_off"></div>
                  <% end %>Conference Room</p>

                  <p><% if office.kitchen? %>
                      <div class="officeicon kitchen_on"></div>
                  <% else %>
                      <div class="officeicon kitchen_off"></div>
                  <% end %>Kitchen</p>

                </div>

              </div>
            </div>

            <div class="span3">
              <div class="row">
                  <div class="span3" id="rent">
                  <% if office.rent? %>
                      <h4><%= number_to_currency(office.rent, :locale => 'en_us', :precision => 2) %>
                          <% if office.rent_type == 1 %>/month
                          <% else %>
                              <% if office.rent_type == 2 %>/week
                              <% else %>
                                  <% if office.rent_type == 3 %>/day
                                  <% else %>month
                                  <% end %>
                              <% end %>
                          <% end %> </h4>
                  <% else %>
                        <h4>Contact us</h4>
                  <% end %>
                    <br>
                    <p>
                      <% if office.accomodate? %>
                        <div class="officeicon accomodates"></div>
                        <%= office.accomodate %>
                        people</p>
                      <%end %>
                    <p>
                      <% if office.office_type == 1 %>
                        <div class="officeicon office"></div>
                        Office
                      <% else %>
                          <% if office.office_type == 2 %>
                            <div class="officeicon meeting"></div>
                            Meeting room
                          <% else %>
                              <% if office.office_type == 3 %>
                                <div class="officeicon desk"></div>
                                Desk
                              <% else %>month
                              <% end %>
                          <% end %>
                      <% end %>
                    </p>
                    <p>
                    <div class="officeicon size"></div>
                    <%= office.size %> sq. ft.</p>
                  </div>
              </div>
            </div>

          </div>

      <% end %>
    </div>
    <div class="row">
        <div class="span12">
          <div class="apple_pagination">
            <div class="page_info">
              <%= page_entries_info @offices %>
            </div>
            <%= will_paginate @offices, :container => false %>
          </div>
        </div>
    </div>

  </div>

<script type="text/javascript">
    mixpanel.track("Viewed ListView");
</script>