
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&libraries=geometry,places&key=AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE">
    </script>




          <!------------------ MAP VIEW ------------------------>
            <div class="mapbar" id="mapview">
                <%= gmaps("markers" => {"data" => @json},
                      "map_options" =>  { "provider" => "google",
                                  #       "client" => "gme-intuitinc",
                                  #       "channel" => "fms.spaces",
                                          "provider_key" => "AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE",
                                          "auto_zoom" => true,
                                          "libraries" => ["places"]
                      }
                    )
                %>
          
            </div>
            

              <div class="resultsbar" id="photoview">
                <div class="row">
                  <ul class="thumbnails">
                  <% @offices.each do |office| %>

                          <li class="span4">
                            <div class="thumbnail">
                              <a href= "<%= office_path(office)  %>" >
                                <% if (office.office_images.first != nil) %>
                                    <%= cl_image_tag office.office_images.first.path, :size => '280x165', :crop => :fit, :class => "img-polaroid" %>
                                <% else %>
                                    <!--%= image_tag "http://maps.googleapis.com/maps/api/streetview?size=220x165&location=40.720032,%20-73.988354&fov=90&heading=235&pitch=10&sensor=false", :crop => :fit, :class => "img-polaroid" %-->
                                    <%= image_tag "http://maps.googleapis.com/maps/api/streetview?size=280x165&location=#{office.latitude},%20#{office.longitude}&sensor=false&key=AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE", :crop => :fit, :class => "img-polaroid" %>
                                <% end %>

                              </a>
                              <!-- img src="/assets/medium_default-studio.png" alt="" -->
                              <div class="media">
                                <% if office.user && office.user.photo? %>
                                    <img class="media-object pull-right" src="<%= office.user.photo %>" height="80px" width="80px">
                                <% else %>
                                    <img class="media-object pull-right" src="/assets/default_person.png" height="80px" width="80px">
                                <% end %>
                                <div class="media-body">
                                  <h4 class="media-heading"><%= number_to_currency(office.rent, :locale => 'en_us', :precision => 0) %> per month</h4>
                                  <p><%= pluralize(office.min_lease, 'Month') %> lease</p>
                                  <p><%= office.loc_city %></p>
                                </div>
                              </div>
                            </div>
                          </li>

                    <% end %>
                  </ul>
                </div>
              </div>
<%= render 'alerts/form' %>

<script type="text/javascript">
function initialize() {
        var map;

        var mapOptions = {
                center: new google.maps.LatLng(-34.397, 150.644),
            zoom: 6,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            streetViewControl: false
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

    }

    google.maps.event.addDomListener(window, 'load', initialize);
  $(document).ready (function() {
      searchAutocomplete();
      alertAutocomplete();
      iePlaceholderFix();
    });

    $( window ).load(function() {
        //alert( $.cookie("mapview") );

        
    });

    function showmapview() {
        $('#listview').hide();
        $('#mapview').attr('class', 'mapfull');
        Gmaps.loadMaps();

    }

    function showlistview() {
        $('#mapview').attr('class', 'mapbar');
        $('#listview').show();
        Gmaps.loadMaps();

    }

    $("#showMapBtn").click(function() {
        $.cookie ('mapview', 'true');
        showmapview();
        mixpanel.track("Clicked MapView button");
    });

    $("#showListBtn").click(function() {
        $.cookie ('mapview', 'false');
        showlistview();
        mixpanel.track("Clicked ListView button");

    });

    $("#searchBtn").click(function() {
        var val = $("#city").val();
        _gaq.push(['_trackEvent', "Search".concat(val), 'User clicks on Search']);
        mixpanel.track("Clicked Search", {location: val});
    });

    $("#search").keyup(function(event){
        if(event.keyCode == 13){
            $("#searchBtn").click();
        }
    });

</script>
