
<div class="container">      
  <div class="row" style="background-color: #ada28b; margin-right: -20px; padding-bottom: 20px;">      
    <div class="span12">
      <h1>Turn extra office space into extra income</h1>
    </div>

    <div class="span6">
      <%= image_tag("office-sample.png", class: "img-polaroid", alt: "studio rental") %>
    </div>
  
    <div class="span6" style="text-align:center; background-color: #b5ab97; border: 1px solid #c6beae; height: 300px;">
      <h3 style="margin-top: 60px;">You provide the office. <br>
        We do the work. </h3>

      <div class="span4 offset1" style="margin-top:20px">
        <!--a href= "https://www.linkedin.com/uas/oauth2/authorization?response_type=code&client_id=57r03zkg8903&scope=r_fullprofile%20r_emailaddress%20r_network&state=DCEEFWF45453sdffef424&redirect_uri=http://www.tradewinz.net/offices/new"
           style="text-decoration:none;">
          <button class="btn btn-large btn-primary btn-call-to-action input-block-level" id="newListingBtn">
            Add Listing
          </button>
        </a-->

        <a href="<%= new_office_path%>" style="text-decoration:none;">
          <button class="btn btn-large btn-primary btn-call-to-action input-block-level" id="newListingBtn">
            Add Listing
          </button>
        </a>

      </div>
      <div class="row">
        <!--div class="span6" style="margin-top: 10px;">See
            <a style="color: #000000; text-decoration: underline;" href="#rentModal" data-toggle="modal">how much</a>
            you can earn.
        </div-->
      </div>
    </div> 
  </div>

  <div class="row" style="padding-top:10px; background-color: #ffffff; margin-right: -20px; padding-bottom:   40px;">
    <div class="span12">
      <h2>Why list your office on Tradewinz?</h2>
    </div>

    <div class="row" style="margin-left: 0;">
      <div class="span6">
        <div class="row">
          <div class="span1"> <%= image_tag("icon-free.png", alt: "icon free") %></div>
            <div class="span5">
              <h4>No listing or membership fees</h4>
              You get 100% of the rent. We are doing this to support small businesses in the USA. We succeed when you succeed.
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="row">
            <div class="span1"> <%= image_tag("icon-screen.png", alt: "icon screen") %>
            </div>
            <div class="span5">
              <h4>Get pre-screened applicants</h4>
                We recruit and screen local, reliable applicants for you, many of whom are like-minded entrepreneurs you may enjoy meeting.
            </div>
          </div>
        </div> 
      </div>

      <div class="row" style="margin-top: 24px; margin-left: 0;">
        <div class="span6">
          <div class="row">
            <div class="span1"> <%= image_tag("icon-trusted.png", alt: "icon free") %>
            </div>
            <div class="span5">
              <h4>Trusted brand</h4>
              From the makers of Quickbooks and Turbo Tax - over 6M small businesses trust us to help with their finances.
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="row">
            <div class="span1"> <%= image_tag("icon-spam.png", alt: "icon free") %>
            </div>
            <div class="span5">
              <h4>No spam</h4>
              Your contact information is private, you approve who can see it. You'll also get metrics to track how much interest your listing generates.
            </div>
          </div>
        </div>
      </div> 
    </div>
  
</div> <!-- /container -->

<!-- Modal -->
<div id="rentModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="rentModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="rentModalLabel">Office Rental Guide</h3>
  </div>
  <div class="modal-body">
    <p>Find below the average rentals in different cities:</p>
    <table class="table table-striped">  
           <thead>  
             <tr>  
               <th>New York</th>  
               <th>Los Angeles</th> 
             </tr>  
           </thead>  
           <tbody>  
             <tr>  
               <td>$55 - $75 an hour</td>  
          <td>$35 - $60 an hour</td>  
             </tr>  
             <tr>  
               <td>$200 - $300 /half day (4-5 hrs) </td>   
               <td>$200 - $250 /half day (4-5 hrs)</td>  
             </tr>  
             <tr>  
               <td>$400 - $900 /full day (8-12 hrs) </td> 
               <td>$450 – $600 /full day (8-12 hrs) </td>   
             </tr>  
           </tbody>  
    </table>
    <table class="table table-striped">  
           <thead>  
             <tr>  
               <th>Chicago</th>  
               <th>San Francisco</th> 
             </tr>  
           </thead>  
           <tbody>  
             <tr>  
               <td>$55 - $75 an hour</td>  
          <td>$35 - $60 an hour</td>  
             </tr>  
             <tr>  
               <td>$200 - $300 /half day (4-5 hrs) </td>   
               <td>$200 - $250 /half day (4-5 hrs)</td>  
             </tr>  
             <tr>  
               <td>$400 - $900 /full day (8-12 hrs) </td> 
               <td>$450 – $600 /full day (8-12 hrs) </td>   
             </tr>  
           </tbody>  
    </table>
    <p> Providing the following amenities may increase your rental rates:</p>
    <ul>
       <li>Location – downtown, with their easy access via public transport, are more expensive than suburbs.</li>
       <li>Equipment + accessories – Office rentals that come with lights, umbrellas, veils, accessories and other specialized equipment rentals cost more.</li>
      <li>Higher ceiling.</li>
      <li>Freight elevators</li>
      <li>Basic refreshments and water</li>
      <li>Separate make-up room, dressing room and waiting areas.</li>
      <li>Storage</li>
       
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
