<div class="container">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <!--%= f.button :submit, "CREATE ALERT", :class=>"btn btn-primary", :id => "saveAlertBtn"%-->
    <%= f.submit "Create Profile" %>
  </div>
<% end %>

</div>

<!-- other JS code -->
<script type="text/javascript">
$("#saveAlertBtn").click(function() {
  $("#new_alert").validate({
    rules: {
      "alert[city]": {required: true},
      "alert[email]": {
        required: true, 
        email: true
      }
    },
    messages: {
      "alert[city]": "Please tell us the city in which you are looking for a space.",
      "alert[email]": {
        required: "Please provide your email address, so we can send you a notice when a space in your city has been added.",
        email: "Please enter a valid email address."
      }
    },
    errorPlacement: function(error, element) {
      element.after(error);
      element.css('border', 'solid red 2px');
    }
  });

});

</script>