<div class="container">

<h2>View all profiles</h2>

<hr>

<ul id="users" class="unstyled">
<% @users.each do |user| %>
  <%= content_tag_for :li, user, :class =>"search_result" do %>
    <%= user.name %>
    <%= user.email %>
    <%= user.phone %>
    <%= link_to 'View', user %>
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<hr>

<div class="btn btn-medium">
  <%= link_to 'New Profile', new_user_path %>
</div>

</div>
