<div class="container">
  <div class="row">
    <div class="text-center">
        <h3>Change your password</h3>
    </div>
  </div>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="row panel panel-border">
        <fieldset class="padtop">

          <%= f.hidden_field :reset_password_token %>

          <div class="control-group">

            <label class="control-label"><%= f.label :password, "New password" %></label>
            <div class="controls"> <%= f.password_field :password, :autofocus => true %></div>

            <label class="control-label"><%= f.label :password_confirmation, "Confirm new password" %></label>
            <div class="controls"><%= f.password_field :password_confirmation %></div>
          </div>

        </fieldset>
        <div class="control-group">
          <div class="controls padtopsmall">
            <%= f.submit "Change my password", :class => "btn btn-large btn-primary"%>
          </div>
        </div>
      </div>
    <% end %>

    <!--%= render "devise/shared/links" %-->
</div>