<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Alert: space was found!</title>
</head>

<body style ="background-color: #ece6e0;
          background-image: url('http://spaces.intuit.com/assets/background_small.png');
          background-repeat: repeat;">

<table background="http://spaces.intuit.com/assets/background_small.png" id="wrapper" width="100%">
  <tr><td>&nbsp;
  </td></tr>
  <tr><td>

<table width="600px" align="center" bgcolor="#FFF" style="border: 1px solid #C2BDB3;">
  <tr>
    <td><table width="540px" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="80px" style="font-size: 22px;
          font-weight: lighter;
          color: #bbbbbb;">New office available in <%= @alert.city %>!</td>
        <td style="font-size: 24px;
          font-weight: lighter;
          color: #bbbbbb;">&nbsp;</td>
        <td width="160px">
          <a href="<%= home_url %>" >
            <img src="http://spaces.intuit.com/assets/logo_intuit_spaces.gif" alt="Intuit Spaces" width="140" height="26" align="right" />
          </a>
        </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="1" height="1" bgcolor="#C2BDB3"></td>
  </tr>
  <tr>
  <td><table width="560px" border="0" align="center" cellpadding="0" >
  <tr><td width="15px"></td><td>
    <br>
    <p><font face="Helvetica, Arial, sans-serif" size="5"
          color="#333333"><%= @office.title %></font>
    <br><%= @office.loc_addr1 %> <%= @office.loc_city %> <%= @office.loc_state %> <%= @office.loc_zip %></br></p>
    </td></tr></table></td></tr>
    <tr><td>

  <table width="525px" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr><td width="300px" valign="top">
      <%if (@office.office_images.first != nil)%>
        <img src="<%="http://res.cloudinary.com/dmcfi9vma/image/upload/" + @office.office_images.first.path%>" alt="<%=@office.title %>" width="280"/>
      <%else%>
        <img src="http://spaces.intuit.com/assets/medium_default-studio.png" alt="<%=@office.title%>" width="280" />
      <%end%>
  </td>
  <!--end left column -->

  <td valign="top">
    <table cellpadding="3">
      <tr><td>
    <% if @office.user %>
      <font size="3" color= "#bbbbbb">About the host</font>
      <table width="100%" border="0" align="left" cellpadding="3" cellspacing="0">
        <tr><td width="60px">
        <%if @office.user && @office.user.photo?%>
            <%= image_tag(@office.user.photo, :alt => @office.user.name, :width => "60") %>
        <%else %>
            <img src="http://spaces.intuit.com/assets/default_person.png" alt="<%= @office.user.name%>" width="60" />
        <%end%>
      </td>
      <td valign="top">
      <%= @office.user.name %>
      <% if @office.user.industry? %><br><%= @office.user.industry %><% end %>
      <% if @office.user.location? %><br><%= @office.user.location %><% end %>
      </td></tr>
    </table>
    <% end %>
  </td></tr>
  <tr><td>
      <font size="3" color="#bbbbbb">About the space</font>
    
        <% if @office.rent? %>
        <br>
          <%= number_to_currency(@office.rent, :locale => 'en_us', :precision => 0) %>
          <% if @office.rent_type == 1 %>/ month
          <% else %>
              <% if @office.rent_type == 2 %>/ week
              <% else %>
                <% if @office.rent_type == 3 %>/ day
                <% else %>month
                <% end %>
              <% end %>
            <% end %>
          <% else %>
          <% end %>

        <br>
          <% if @office.office_type == 1 %>Office space
          <% else %>
            <% if @office.office_type == 2 %>
               Meeting room
            <% else %>
                <% if @office.office_type == 3 %>
                   Desk
                <% else %>
                  Office space
                <% end %>
            <% end %>
        <% end %>

        

        <br><% if @office.size? %>
          (<%= @office.size %> sq. ft) 
        <% end %>

        <% if @office.accomodate? %>
          - <%= @office.accomodate %> <% if @office.accomodate == 1 %>person<% else %>people<% end %>
        <% end %>
        <br>
      <p style="font-size:16px"><%= link_to 'View listing >>', office_url(@office) %> </p>
      </td></tr>
    </table>
  </td>
<!--end right column -->

</tr>
    </table>

          <p>&nbsp;</p></td>
 

<p style="font-size: 12px;
          color: #999995;
          text-align: center;"><%= link_to 'Unsubscribe from ' + @alert.city + ' alerts', unsubscribe_alert_url(@alert) %>
<br>© 2013, Intuit, Inc. 2632 Marine Way, Mountain View, CA 94043</p>
<p>&nbsp;</p>
 </tr>
  

</table>
</body>
</html>