<!-- Modal -->
<div id="addAlert" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addAlertLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addAlertLabel">Create your space alert</h3>
  </div>

  <%= simple_form_for(@alert) do |f| %>

  <div class="modal-body">
  	<%= f.error_notification %>
    <p>Tell us about the type of space you're looking for, and we'll let you know when we find something that matches your criteria!</p>
  	<% if @alert.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this listing from being saved:</h2>
          <ul style="margin-left:10;">
            <% @alert.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

	  <div class="form-inputs">
	  	<label class="control-label">City *</label>
	    <div class="controls"><%= f.text_field :city, :id => "alertCity" %></div>

	    <label class="control-label">Email *</label>
	    <div class="controls"><%= f.text_field :email %></div>

	    <label class="control-label">Other criteria</label>
	    <div class="controls"><%= f.text_area :misc, :placeholder => "e.g. more precise location, space type, specific amenities, rental rate", :style => "width: 240px", :rows => 20  %>
	    </div>
	  </div>
  </div>
  
  <div class="modal-footer">
    <%= link_to "CLOSE", "", :data => {:dismiss=>"modal"}, :class=> "btn" %>
    <%= f.button :submit, "CREATE ALERT", :class=>"btn btn-primary", :id => "saveAlertBtn"%>
  </div>

  <% end %>
</div>

<!-- other JS code -->
<script type="text/javascript">

$("#saveAlertBtn").click(function() {
  $("#new_alert").validate({
    rules: {
      "alert[city]": {
        required: true
      },
      "alert[email]": {
        required: true, 
        email: true
      }
    },
    messages: {
      "alert[city]": {
        required: "Please tell us the city in which you are looking for a space.",
      },
      "alert[email]": {
        required: "Please provide your email address, so we can send you a notice when a space in your city has been added.",
        email: "Please enter a valid email address."
      }
    },
    errorPlacement: function(error, element) {
      element.after(error);
      element.css('border', 'solid red 2px');
    }
  });

  if ($("#new_alert").valid()) {
    _gaq.push(['_trackEvent', 'SaveListing', 'User saves an alert']);
  }
});

</script>