
<div class="panel panel-border">
	<div class="text-center">
	    <h4>Are you sure you want to unsubscribe from <%= @alert.city%> alerts?</h4>
	</div>

<div class="row">
	<div class="span45">
	<div id="myCarousel" class="carousel slide carousel-container">

  <!-- Carousel items -->
  <div class="carousel-inner">            
    <% @offices.each_with_index do |office,index| %>
      <div class="<% if index==0%>active<% end %> item">

        <a href= "<%= office_path(office)  %>" >
          <li class = "span44 carousel-div">
              <% if (office.office_images.first != nil) %>
                <%= cl_image_tag office.office_images.first.path, :width => 365, :height => 249, :crop => :fill, :class => "img-polaroid carousel-img" %>
              <% else %>
               <%= image_tag "default-studio.png", :class => "img-polaroid carousel-img" %>
              <% end %>
            
              <div class="carousel-caption home">
                
                <div class = "row-fluid">

                  <div class="caption-pic span2">
                      <div class="profile-pic-list">
                        <% if office.user && office.user.photo? %>
                            <%= image_tag(office.user.photo) %>
                        <% else %>
                            <%= image_tag("default_person.png") %>
                        <% end %>
                      </div>
                  </div>

                  <div class="span10">
                  <strong><%= office.title %></strong>
                  <p><%= office.loc_city %>, <%= office.loc_state %> &#8226; <% if office.rent? %>
                    <%= number_to_currency(office.rent, :locale => 'en_us', :precision => 0) %>
                    <% if office.rent_type == 1 %>/month
                    <% else %>
                      <% if office.rent_type == 2 %>/week
                      <% else %>
                        <% if office.rent_type == 3 %>/day
                        <% else %>month
                        <% end %>
                      <% end %>
                    <% end %>
                   <% else %>
                     Contact us for rent
                   <% end %></p>
                 </div>
                </div>

            </div>
          </li> 
        </a>
      </div>
    <% end %> 
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left alerts" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right alerts" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div> <!--end carousel-->

</div>
<div class="span75">
	<p> &nbsp;</p>
		<%= simple_form_for(:alert, :url => alert_path(@alert), :html => {:id => "alert_unsubscribe", :method => :delete}) do  %>
		
				<p>Please enter your email address to stop receiving alerts.</p>
			 	<label class="control-label">Email *</label>
			    <div class="controls"><%= text_field_tag :email %></div>
			    <div class="row">
				    <div class="span3 offset5">
				      <%= submit_tag "Unsubscribe", :class=>"btn btn-primary", :id => "confirmUnsubscribe"%>
				  </div>
				</div>
		<% end %>
	</div>
</div>


	
</div>
<!-- other JS code -->
<script type="text/javascript">
$('#myCarousel').carousel();

$("#confirmUnsubscribe").click(function() {

	$.validator.addMethod("emailMatch", function(value, element) {
		var enteredEmail = value;
		return (enteredEmail.toLowerCase() == "<%=escape_javascript @alert.email%>".toLowerCase());
	},
	"The email you entered does not match our records.");

  $("#alert_unsubscribe").validate({
    rules: {
      "email": {
        required: true,
        emailMatch: true
      }
    },
    messages: {
      "email": {
        required: "Your email address is needed to confirm unsubscribe."
      }
    },
    errorPlacement: function(error, element) {
      element.after(error);
      element.css('border', 'solid red 2px');
    }
  });

  if ($("#alert_unsubscribe").valid()) {
    _gaq.push(['_trackEvent', 'UnsubscribeAlert', 'User unsubscribe an alert']);
  }
});




</script>