
<div class="panel panel-border">
	<div class="text-center">
	    <h4>Are you sure you want to unsubscribe from <%= @alert.city %> alerts?</h4>
	</div>

<div class="row unsubscribe-panel">

	<div class="span-carousel">
    <% if @offices.count > 0 %>
      <%= render 'alerts/carousel' %>
    <% else %>
      <div class="no-alert"><%= image_tag "tw/icon_alert_150x139.png", width: "200px"%></div>
    <% end %>

  </div>
  <div class="span-unsubscribe">
		<%= simple_form_for(:alert, :url => alert_path(@alert), :html => {:id => "alert_unsubscribe", :method => :delete, :class => "unsubscribe-box"}) do  %>
		
				<p>Please enter your email address to stop receiving alerts.</p>
			 	<label class="control-label">Email *</label>
			    <div class="controls"><%= text_field_tag :email%></div>
          <div style="height:50px;"></div>
			    <div class="row">
				    <div class="span3 offset5">
				      <%= submit_tag "Unsubscribe", :class=>"btn btn-primary", :id => "confirmUnsubscribe"%>
				  </div>
				</div>
  		<% end %>
  	</div>
  </div>

	
</div>
<!-- other JS code -->
<script type="text/javascript">
$('#myCarousel').carousel();

$("#confirmUnsubscribe").click(function() {

	$.validator.addMethod("emailMatch", function(value, element) {
		var enteredEmail = value;
		return (enteredEmail.toLowerCase() == "<%=escape_javascript @alert.email%>".toLowerCase());
	},
	"The email you entered does not match our records.");

  $("#alert_unsubscribe").validate({
    rules: {
      "email": {
        required: true,
        emailMatch: true
      }
    },
    messages: {
      "email": {
        required: "Your email address is needed to confirm unsubscribe."
      }
    },
    errorPlacement: function(error, element) {
      element.after(error);
      element.css('border', 'solid red 2px');
    }
  });

  if ($("#alert_unsubscribe").valid()) {
    _gaq.push(['_trackEvent', 'UnsubscribeAlert', 'User unsubscribe an alert']);
  }
});




</script>