<div class = "container">

  <div class="row">

    <div class="text-center">
      <h3>Please sign in.</h3>
    </div>

  </div>

  <div class="row panel panel-border">
    <div class="text-center linkedin">
      <a href= "<%=user_omniauth_authorize_path(:linkedin_oauth2) %>">
        <%= image_tag("btn_linkedin.png") %>
      </a>
    </div>

    <div class="sepa"> or sign in using your email </div>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="span7 offset3">
            <fieldset class="padtop padbottom">

              <div class="control-group">
                <label class="control-label">Email address:</label>
                <div class="controls"> <%= f.email_field :email, :autofocus => true %>  </div>
              </div>

              <div class="control-group">
                <label class="control-label">Password:</label>
                <div class="controls"> <%= f.password_field :password %>
                  <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
                      <%= link_to "Forgot password?", new_password_path(resource_name) %>
                   <% end %>
                </div>
                <% if devise_mapping.rememberable? %>
                    <div class="controls"><%= f.check_box :remember_me %> Remember me</div>
                <% end %>
              </div>

            <div class="control-group">
              <div class="controls padsmalltop">
                <%= f.submit "Sign In", :class => "btn btn-large btn-primary" %>
              </div>
            </div>
            <div class="control-group">
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <div class="controls padtopsmall">Don't have an account?
                    <%= link_to "Create one - its free !", new_user_registration_path %>
                  </div>
              <% end -%>
            </div>
            </fieldset>
          </div>
        </div>

    <% end %>





  </div>

</div>

<script type="text/javascript">
    mixpanel.track("Viewed SignIn");
</script>