<div class="navbar navbar-static">
  <div class="wrapper container">
      <div class="brand"><%= link_to image_tag("logo_intuit_spaces.gif", alt: "Intuit Spaces"), home_path %></div>
      <ul class="nav pull-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" id="user" role="button" class="dropdown-toggle" data-toggle="dropdown">
            <div class="profile-pic">
              <% if current_user.photo? %>
                  <%= image_tag(current_user.photo) %>
              <% else %>
                  <%= image_tag("default_person.png") %>
              <% end %>
            </div>
            <%= current_user.name %> <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="user">
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Your Listings", offices_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "SIGN IN", new_user_session_path %></li>
      <% end %>
        <li><%= link_to "", address_offices_path, :id => "addlisting", :class=>"list-btn" %></li>
      </ul>
  </div>
</div>