<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Tradewinz facilitates sharing of office space between small business.
   We help established small business make extra money by renting out their excess office space and equipments.
   We help startups and other small business rent a office cheaply for short or long term needs and work together and learn from successful business owners.">

   <meta name="keywords" content="Tradewinz, office, co-working, rent office, exchange office, extra office, excess office, share office, meet established business,
   rental office"/>

   <meta name="author" content="Intuit Labs">

  <title>Office Rental and Sharing by Small Business</title>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">

 
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA63spoPlwAL-NcXhJaU7bOvJyZL2PuKQE&sensor=true">
  </script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
<div class = "container">
  <div class="row" style="height: 60px; margin-right: -20px;">
    <div class="span12">
            <ul class="nav nav-pills pull-right">
                <li><%= link_to "Listings", offices_path %> </li>
                <li><%= link_to "List Your office", owners_path, :class=>"btn" %></li>
                <!--li><%= link_to "Map", how_path %></li-->
                <!--li><%= link_to "About Us", about_path %> </li-->

            </ul>
            <a href="/home">
                <h3 class="muted" style="margin-top: 12px;">
                  <%= image_tag("logo.png", alt: "tradewinz logo") %>
                </h3>
            </a>
    </div>
  </div>

  <div id="login_container">
    <div id="user_nav">
      <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to "Sign up", new_user_registration_path %> |
          <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

  </div>


  <%= yield %>

	<!--div class="footer">
      <p>&copy; Intuit, Inc. All rights reserved
        <a href="http://security.intuit.com/privacy/">Privacy Policy</a>
      </p>

	</div-->

  <div class="row" style="border-top: 4px solid #fabb0f; margin-right: -20px;">
    <div class="span12" style="margin-bottom: 30px; padding-top: 24px;">
      <p>© Intuit, Inc. All rights reserved
        <a href="http://security.intuit.com/privacy/">Privacy Policy</a>
      </p>
    </div>
  </div>



</div>

<!-- begin Google Analytics code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38308750-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- end GA code -->

<!-- begin SnapEngage code -->
<script type="text/javascript">
    (function() {
        var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
        se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/c441023c-0525-4d13-bf03-eaaaedc44080.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
    })();
</script>
<!-- end SnapEngage code -->

<!-- jQquery validation -->
<script type="text/javascript">
    $("#saveListingBtn").click(function() {
        $("#new_office").validate({
            rules: {
                "office[contact_email]": {required: true, email: true},
                "office[title]": {required: true}
            },
            messages: {
                "office[contact_email]": "Please provide a valid email",
                "office[title]": "Please provide a title for your listing"
            },
            errorPlacement: function(error, element) {
                element.after(error);
                element.css('border', 'solid red 2px');
            }
        });
        _gaq.push(['_trackEvent', 'SaveListing', 'User saves a listing']);
    });

    $("#newListingBtn").click(function() {
        _gaq.push(['_trackEvent', 'NewListing', 'User clicks on Add Listing']);
    });

    $("#seeListingBtn").click(function() {
        _gaq.push(['_trackEvent', 'SeeListings', 'User clicks on See Listing']);
    });

</script>

<!-- google maps api integration -->
<script type="text/javascript">
var geocoder;
var map;
function initialize() {
  geocoder = new google.maps.Geocoder();
  var latlng = new google.maps.LatLng(-34.397, 150.644);
  var mapOptions = {
    zoom: 8,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
}

function codeAddress() {
  var address = document.getElementById('address').value;
  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

</body>


</html>
