<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Intuit Spaces facilitates sharing of office space between small business owners.
   We help established small businesses recoup office expenses by renting out their excess office space to start-ups.
   We help start-ups and home-based small businesses get a professional looking office for less. They can use it to
     meet clients, work without distractions at home and learn from the established business owners.">

   <meta name="keywords" content="Intuit spaces, office, office share, co-working, rent office, exchange office,
   extra office, excess office, share office, meet established business, small business network, rental office"/>

  <meta name="author" content="Intuit Labs">

  <title>Intuit Spaces - Office Rental and Sharing for Small Business</title>

  <link rel="icon" type="image/ico" href="/assets/spaces.ico" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<%= render 'layouts/header' %>


<!-- Main body pages -->

<div class="container">
  <%= render 'layouts/messages'%>
  <%= yield %> 
</div>


<!-- Footer -->

<%= render 'layouts/footer'%>

<!-- GA code -->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-41473975-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- end GA code -->



<!-- other JS code -->
<script type="text/javascript">

$("#addlisting").click(function() {
  _gaq.push(['_trackEvent', 'AddListing', 'User clicks on Add Listing']);
  mixpanel.track("Clicked AddListing");

});

$("#searchBtn").click(function() {
  var val = $("#search").val();
  _gaq.push(['_trackEvent', "Search".concat(val), 'User clicks on Search']);
  mixpanel.track("Clicked Search", {location: val});
});

$("#search").keyup(function(event){
    if(event.keyCode == 13){
        $("#searchBtn").click();
    }
});



</script>



</body>


</html>

