<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Intuit Spaces facilitates sharing of office space between small business owners.
   We help established small businesses recoup office expenses by renting out their excess office space to start-ups.
   We help start-ups and home-based small businesses get a professional looking office for less. They can use it to
     meet clients, work without distractions at home and learn from the established business owners.">

   <meta name="keywords" content="Intuit spaces, office, office share, co-working, rent office, exchange office,
   extra office, excess office, share office, meet established business, small business network, rental office"/>

  <meta name="author" content="Intuit Labs">

  <title>Intuit Spaces - Office Rental and Sharing for Small Business</title>

  <link rel="icon" type="image/ico" href="/assets/spaces.ico" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
<div class="navbar" >
      <div class="wrapper">
            <ul class="nav nav-pills pull-right">
                <li><%= link_to "+ LIST YOUR SPACE", new_office_path, :class=>"list-btn btn"%></li>
                    <% if user_signed_in? %>
                      <li><%= link_to current_user.name, edit_user_registration_path %></li>
                      <li><%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %></li>
                    <% else %>
                        <li><%= link_to "SIGN IN", new_user_session_path %></li>
                    <% end %>
            </ul>
            <a href="/home">
                <h3 class="muted" style="margin-top: 1px;">
                  <%= image_tag("logo_intuit_spaces.gif", alt: "Intuit Spaces") %>
                </h3>
            </a>
      </div>
</div>





<!-- Main body pages -->

<div class="container">
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
  <%= yield %>
</div>


<!-- Footer -->

<div class="container">
      <div class="well well-small">
        <div class="row-fluid">
          <div class="span4">
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/exovvpc26etcptp/icon_phone_16x16.png"
                 class="pull-left img-rounded">
            <p>
              <b>&nbsp;Have Questions?</b> Call us at 1 (855) 2-SPACES</p>
          </div>
          <div class="span4">
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/1ihs6zyiikeam9p/icon_email_16x16.png"
                 class="pull-left img-rounded">
            <b>&nbsp;Send us a note at</b>
            <a href="mailto:spaces@intuit.com">spaces@intuit.com</a>
          </div>
          <div class="span4">&nbsp;
            <b>Follow us:</b>
            <img src="https://s3.amazonaws.com/uploads.hipchat.com/46883/314424/ibhvzf2ae9ci7ar/icon_blog_29x16.png"
                 class="pull-left img-rounded">
            <a href="http://spacesblog.tumblr.com/" target="_blank">Blog</a> |
            <a href="/about">About Us</a>
          </div>
        </div>
      </div>
</div>

<%= yield :scripts %>


<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38308750-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- end GA code -->

<!-- begin SnapEngage code -->
<script type="text/javascript">
    (function() {
        var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
        se.src = '//commondatastorage.googleapis.com/code.snapengage.com/js/c441023c-0525-4d13-bf03-eaaaedc44080.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
    })();
</script>
<!-- end SnapEngage code -->

<!-- jQquery validation -->
<script type="text/javascript">
function showLoadingImage() {
    $('#second').append('<div id="loading-image"><%= image_tag("ajax-loader.gif", :alt => "loading") %> </div>');
}

function hideLoadingImage() {
    $('#loading-image').remove();
} 



$("#continueListingBtn").click(function() {      
  $('#second').show(); 
  $('#first').hide();
});   

$("#saveListingBtn").click(function() {
  $("#new_office").validate({
    rules: {
      "office[loc_zip]": {required: true},
      "office[title]": {required: true}
    },
    messages: {
      "office[loc_zip]": "Please tell us the zip code of your office",
      "office[title]": "Please provide a title for your listing"
    },
    errorPlacement: function(error, element) {
      element.after(error);
      element.css('border', 'solid red 2px');
    }
  });

  if ($("#new_office").valid()) {
    _gaq.push(['_trackEvent', 'SaveListing', 'User saves a listing']);
  }
});

$("#newListingBtn").click(function() {
  _gaq.push(['_trackEvent', 'NewListing', 'User clicks on Add Listing']);
});

$("#seeListingBtn").click(function() {
  _gaq.push(['_trackEvent', 'SeeListings', 'User clicks on See Listing']);
});

</script>



<!-- file upload -->


<!-- image gallery  -->
<script type="text/javascript">
    function galleria(){
        Galleria.loadTheme("<%= javascript_path('galleria.classic.js') %>");
        $('.webgallery img').each(function(index) {
            if ($(this).attr("src").toLowerCase().indexOf("/assets/default-studio.png")>=0) {
            $(this).remove();
        }
        });

        if (Galleria) {
            if ($('.webgallery img').length > 0) {
                Galleria.run('.webgallery');
            } else {
            $('.webgallery').remove();
            }
        }
    }

    galleria();

</script>


</body>


</html>

